<div class="container container-table">
    <div class="cont vertical-center-row">
        <form class="m-form" name="loginForm">
            <h4 class="text-center form-group">Enter Login Details</h4>
            <span class="text-danger text-center form-group" ng-show="invalidLogin">Username or Password may be invalid</span>
            <div class="form-group">
                <input class="form-control" name="username" type="text" ng-model="username" placeholder="Username" required>
                <span class="text-danger" ng-show="loginForm.username.$invalid && loginForm.username.$touched">This is required</span>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" type="password" ng-model="password" placeholder="Password" required>
                <span class="text-danger" ng-show="loginForm.password.$invalid && loginForm.password.$touched">This is required</span>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" ng-click="loginButton()">LOG IN</button>
            </div>
            <a ui-sref="signup" style="cursor: pointer; margin: auto">New User? Sign Up</a>
        </form>
    </div>
</div>
